<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSaveMovie(movieForm)" #movieForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" name="title" [ngModel]="movie?.title" required #title="ngModel" placeholder="Movie Title"/>
      <mat-error *ngIf="title.invalid">Movie title is required.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="6" name="description" [ngModel]="movie?.description" placeholder="Movie Description"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Save Movie
    </button>
  </form>
</mat-card>
